body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.gray {
  color: #918E98;
}

.bold {
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  height:70px;
  box-shadow: 0px 3px 7.5px rgba(0,0,0,0.1);
}

section {
  padding-left: 20px;
}
.nav--logo {
  padding: 20px 36px;
  max-width: 100px;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hero--photo {
  align-self: center;
  width: 80vw;
  max-width: 395px;
}

.hero--header, .hero--text {
  text-align: left;
  margin-bottom: 16px;
}

.hero--text {
margin-top: 0;
width: 70%;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x:auto;
}

.card {
  position: relative;
  width: 175px;
  font-size: 14px;
  display:flex;
  flex: 0 0 auto;
  flex-direction: column;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card > p {
  text-align: left;
}

.card--star {
  height: 14px;
}

.card--price {
  margin-top: auto;
}

.card--badge {
  position:absolute;
  top: 6px;
  left: 6px;
  background-color: #fff;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
 